body { background-image: url(Imges/wallbg.png);
    background-size: cover;
justify-content: center;
align-items: center;
height: 100vh;}

#main { 
    background-image: url(Imges/paper.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%; 
}